# =========================
# ENV FILES
# =========================
.env
.env.*
backend/.env
frontend/.env
mobile/.env

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
venv/
.env_venv/
.pytest_cache/
.coverage
htmlcov/

# =========================
# NODE / REACT / VITE
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
*.pid

# =========================
# CACHE
# =========================
.cache/
